<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"></meta>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
		<title>Web Application</title>
		<link rel="stylesheet" href="/css/bootstrap.css">
		<link rel="stylesheet" href="/css/webstyles.css">
	</head>
	<body ng-app="WebApplication" ng-controller="WebController" >
		<script src="/js/lib/angular.min.js"></script>
		<script src="/js/lib/angular-route.min.js"></script>
		<script src="/js/lib/ui-bootstrap-tpls-0.10.0.min.js"></script>
		<script src="/js/lib/angular-gettext.min.js"></script>
		<script src="/js/lib/angular-cookies.min.js"></script>
		<script src="/js/Dynamark3ActivateRequest.js"></script>
		<script src="/js/main.js"></script>
	</body>
	<div class="web-inner form-group">
		<label for="usr">function:</label>
		<input type="text" class="form-control" id="function1" ng-change="verify()" ng-model="function_model">
	</div>
	<div class="web-inner form-group">
		<label for="usr">parameter:</label>
		<input type="text" class="form-control" id="parameter1">
	</div>
	<div class="web-inner">
		<button type="button" class="btn btn-default" style="margin-top:40px" ng-click="call('function1', 'result1', 'parameter1')">call function()</button>
	</div>
	<div class="form-group">
		<label for="usr">function definition:</label>
		<pre>{{function_object}}</pre>
	</div>
	<div class="web-inner form-group">
		<label for="usr">structure:</label>
		<input type="text" class="form-control" id="function1" ng-change="verifyStructure()" ng-model="structure">
	</div>
	<div class="form-group">
		<label for="usr">structure definition:</label>
		<pre>{{structure_object}}</pre>
	</div>
	<div class="web-inner form-group">
		<label for="usr">enumeration:</label>
		<input type="text" class="form-control" id="function1" ng-change="verifyEnum()" ng-model="enumeration">
	</div>
	<div class="form-group">
		<label for="usr">enum definition:</label>
		<pre>{{enum_object}}</pre>
	</div>
	<div class="form-group">
		<label for="usr">result object:</label>
		<pre>{{return_object}}</pre>
	</div>
	<div class="form-group">
		<label for="usr">long polling result: count:{{count}}</label>
		<pre>{{longpolling_result}}</pre>
	</div>
	<img src="" id="image"/>
</html>