<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>主页</title>
    	<script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
    	<script type="text/javascript" src="../../public/JS/kindeditor-min.js" ></script>
    	<!--<link rel="stylesheet" href="https://zhenxiangqin.leanapp.cn/stylesheets/style.css">-->
    	<link rel="stylesheet" href="../../public/stylesheets/style.css" />
	</head>
	<body>
		<div class="bg_top">
			<div class="top_bg_box"></div>
			<div class="list_icon"></div>
			<div class="list_line"></div>
			<div id="left_div">
			</div>
		</div>
		<div class="body_right">
			<div class="loading">
				<object data="https://zhenxiangqin.leanapp.cn/img/spin.svg" width="200" height="200" type="image/svg+xml"></object>
				<!--<object data="../img/spin.svg" width="200" height="200" type="image/svg+xml" ></object>-->
			</div>
			<div id="body_right_top" class="body_right_top">
			</div>
			<div id="body_right_body_id" class="body_right_body">
				
			</div>
		</div>
		<div id="alertbox">
		</div>
    	<script type="text/javascript" src="../../public/JS/base.js"></script>
		<script>
			var t_url = document.location.href.split("#")[1];
			window.onhashchange = function(){
				t_url = document.location.href.split("#")[1];
				getright(url_json[t_url],t_url);
			};
			$(document).ready(function(){
				getright(url_json[t_url],t_url);
			});
			$("body").on("click",".list_public",function(){
				var t_url = $(this).attr("urls");
				window.location.href = "#"+t_url;
			});
			$("body").on("click",".remove_alert",function(){
				$(this).parent().prev().remove();
				$(this).parent().remove();
			});
		</script>
	</body>
</html>
