<!DOCTYPE HTML>
<html>
  <head>
		<meta charset="UTF-8">
    <title>登录</title>
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
    <!--<link rel="stylesheet" href="https://zhenxiangqin.leanapp.cn/stylesheets/style.css">-->
    <link rel="stylesheet" href="../../public/stylesheets/style.css" />
  </head>
  <body class="login_bg">
  	<div id="login_box" class="login_box">
  		<div class="login_top">Welcome</div>
  		<div class="error_box">
  			用户名或密码错误
  			<?= $error ?>
  		</div>
			<div class="btn">
				<div class="input_text">
					<input type="text" id="unameid" class="input_text_in" placeholder="用户名/电话/邮箱" />
				</div>
			</div>
			<div class="btn">
				<div class="input_text">
					<input type="password" id="pwdid" class="input_text_in" placeholder="密码" />
				</div>
			</div>
			
			
			<div class="btnclick">立即登录</div>
			<div class="loadinglogin">
				<object data="https://zhenxiangqin.leanapp.cn/img/spin.svg" width="100" height="100" type="image/svg+xml"></object>
				<!--<object data="https://zhenxiangqin.leanapp.cn/img/spin.svg" width="100" height="100" type="image/svg+xml"></object>-->
			</div>
		</div>
  	<script>
  		$("#login_box").on("click",".btnclick",function(){
  			var t_this = $(this);
  			postwait(t_this);
  			$.ajax({
  				type:"post",
  				url:"https://zhenxiangqin.leanapp.cn/login",
  				data:{uname:$("#unameid").val(),pwd:$("#pwdid").val()},
  				success:function(back){
  					postback(t_this);
  					console.log(back);
  				}
  			});
  		});
  		function postwait(t_this){
  			t_this.removeClass("btnclick");
  			t_this.addClass("btnclick_wait");
  			$(".loadinglogin").addClass("show");
  		}
  		function postback(t_this){
				$(".loadinglogin").removeClass("show");
  			t_this.removeClass("btnclick_wait");
  			t_this.addClass("btnclick");
  		}
  	</script>
  </body>
</html>