<div id="{{elementId}}">
	<div class="qs-item-caption" ng-if="available">
	    <span ng-if="indent">&nbsp;&nbsp;&nbsp;&nbsp;</span>{{::caption|translate}}<span ng-if="numUnit"> ({{numUnit}})</span>
	</div>
	<div class="qs-item-control" ng-if="data.Available && data.Writable" id="{{elementId}}_checkbox">
	    <input type="checkbox" id="{{elementId}}" ng-model="checked" ng-change="change()">
	</div>
	<div class="qs-item-control" ng-if="data.Available && !data.Writable" id="{{elementId}}_checkbox_rdonly">
	    <input type="checkbox" id="rdonly_{{elementId}}" disabled="disabled" ng-model="checked" ng-change="change()" >
	</div>
</div>