<div id="{{elementId}}">
    <div class="qs-item-caption" ng-if="available">
        {{::caption|translate}}<span ng-if="numUnit">({{numUnit}})</span>
    </div>
    <div class="qs-item-control" ng-if="writeable && available" id="{{elementId}}_combo">
        <select ng-model="selected" id="{{elementId}}" ng-change="change()">
            <option ng-repeat="a in data.ValidSelections" value="{{a.Id}}" ng-selected="{{data.Value == a.Id}}">{{a.Name|translate}}
            </option>
        </select>
    </div>
    <div class="qs-item-control" ng-if="!writeable && available" id="{{elementId}}_combo_rdonly">
        <div class="qs-item-string-readonly" id="rdonly_{{elementId}}">
            {{data.ValidSelections[data.Value].Name}}
        </div>
    </div>
</div>