<div style="padding: 50px 0 0px 25px;" id="settingMenu">
	<div style="float: left;">
		<span *ngFor="let i of tabSettings" id="settingMenu-index-tabButton-bar" style="display:inherit">
			<nav-icon-button icon='{{i.icon}}' caption='{{i.name}}' destination='{{i.destination}}' styleclass='web-inner web-large-setting-tab-button'></nav-icon-button>
		</span>
	</div>
	<div class="vertical-line"></div>
	<div style="margin-left: 150px">
		<span *ngFor="let i of settings" class="qs-index-button-bar" id="settingMenu-index-button-bar">
			<nav-icon-button [icon]='i.icon' [caption]='i.name' [destination]='i.destination' styleclass='web-nav-btn' (click)="go(i)"></nav-icon-button>
		</span>
		<router-outlet></router-outlet>
	</div>
</div>